/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #006EB6; // navbar
$navbar-fg: #FFFFFF; // navbar foreground elements
$navbar-hl: #EBEBEB; // highlight color when hovering over navbar links
$body-bg: #FFFFFF; // page background
$body-color: black; // page text
$footer-bg: #EBEBEB; // footer
$link-color: #006EB8; // hyperlinks

// Inline code
//$code-bg: $cream; // inline code background color
//$code-color: $purple; // inline code text color

// Code blocks
//$code-block-bg: $cream; // code block background color
