/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #006EB6; // navbar
$navbar-fg: #FFFFFF; // navbar foreground elements
$navbar-hl: #EBEBEB; // highlight color when hovering over navbar links
$body-bg: black; // page background
$body-color: white; // page text
$footer-bg: darkgray; // footer
$link-color: #006EB8; // hyperlinks

// Code blocks
$code-block-bg-alpha: -.8;


/*-- scss:rules --*/
.supplement {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid #006EB6;
  border-radius: 10px;
}

.supplement-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #006EB6;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("images/supplement_inv.png");
}

.supplement-container {
  padding-top: 5px;
  padding-left: 10px;
  color: white;
  background-color: black;
  border-bottom-right-radius: 10px;
}